<!--div>
    <%= image_tag "logo.png", class: "logo" %>
</div-->
<div class="ui inverted segment">
      <!--%= link_to root_path, class: "ui inverted green button" do %>Home-->
        <%= link_to "Home", root_path, class: "ui inverted green button" %>
        <% if @current_user.present? %>
          <%= link_to "Your Profile", user_path(id: @current_user.id ), class: "ui inverted green button" %>
        <% end %>
        <% unless @current_user.present? %>
          <%= link_to "Sign In", signin_path, class: "ui inverted green button" %>
          <%= link_to "Sign Up", signup_path, class: "ui inverted green button" %>
        <% else %>
          <!-- <%= link_to "Shopping Cart", cart_path(id: @cart.id), class: "ui inverted green button" %> -->
          <%= link_to "Sign Out", signout_path, class: "ui inverted green button", method: "delete" %>
        <% end %>
        <!-- update shopping cart with qty in cart -->
        <%= link_to cart_path(id: @cart.id), id: "cart_button", class: "ui inverted green button" do %>
          <i class="fa fa-shopping-cart" aria-hidden="true">
             <span><%= pluralize(number_in_cart, 'item') %></span>
            <!-- <span><%= number_in_cart %> <%= number_in_cart > 1 ? 'items' : 'item' %></span> -->
          </i>
        <% end %>
      <!--%end%-->
      <div class="greeting">
      <% if @current_user.present? %>
        Hi, <%= @current_user.name %>
      <% end %>
      </div>
</div>
