<div class="mainBody">
  <div class="main-container">
      <h1>Sign Up</h1>
      <%= form_for @user do |u| %>
      <!--%= render partial: "includes/form_errors", locals: {form: f} %-->
        <div id="form">
          <p>
            <%= u.label :name %>
            <%= u.text_field :name %>
          </p>
          <p>
            <%= u.label :email %>
            <%= u.text_field :email %>
          </p>
          <p>
            <%= u.label :password %>
            <%= u.password_field :password %>
          </p>
          <p>
            <%= u.submit "Sign Up" %>
          </p>
        </div>
      <%end%>
  </div>
</div>
