<div class="mainBody">

<%= form_for @order do |f| %>
  <div class="field">
    <%= f.label :delivery_address %>
    <%= f.text_field :delivery_address, rows: 5, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :delivery_cost %>
    <%= f.select :delivery_cost, Order::DELIVERY_TYPES, prompt: 'Select a delivery method' %>
  </div>
  <div class="field">
    <%= f.label :pay_type %>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
  </div>
  <div class="actions">
    <%= f.submit 'Place Your Order' %>
  </div>
<% end %>

</div>
