<h1>Print your shirt</h1>
<div class="main-container">
  <div id="tshirtTemplate">
    <%= image_tag "/assets/white.png", class: "tshirt" %>
  </div>
</div>

<% @products.each do |product|%>
  <% if product.size === "S" %>
    <table>
      <tr>
        <td class="colour_thumbnail", id="<%= product.colour %>"><%= image_tag product.thumbnail, class: product.colour %></td>
      </tr>
  <% end %>
<% end %>


      <tr>
        <td><%= number_to_currency(@products.first.price) %></td>
      </tr>
      <tr>
        <td>
          <select name="size"> <!-- create Size dropdown menu -->
            <% @sizes.each do |u| %>
              <option value="<%= u %>"><%= u %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </table>

<%= button_to "Add to Cart" %> <!-- need to update the path and params for this button -->


<% @designs.each do |design|%>
  <table>
    <tr>
      <td class="design_thumbnail", src="<%= design.img_src %>", id="<%= design.id %>"><%= image_tag design.img_src %></td>
      <!-- <td><%= design.name %></td> -->
    </tr>
  </table>
<% end %>

<script>
  $(document).ready(function(e){
    $(".colour_thumbnail").on("click", function(e){ // select shirt colour
      var colour = $(e.currentTarget).attr("id");
      console.log(colour);
      $("#tshirtTemplate").html("");
      $("#tshirtTemplate").append($("<img>").attr("src", "/assets/" + colour + ".png").attr("class", "tshirt").attr("id", colour));
    });

    $(".design_thumbnail").on("click", function(e){ // select design to apply on t-shirt
      var designUrl = $(e.currentTarget).attr("src");
      var design_id = $(e.currentTarget).attr("id");
      console.log(design_id)
      var $designImg = $("<img>").attr("src", designUrl).attr("class", "design_img").attr("id", design_id);
      var $designContainer = $("<div>").attr("class", "design_container").append($designImg);
      $designContainer.css({
        top: "30px",
        left: "70px",
        position: "absolute"
      });
      $(".main-container").append($designContainer);
      $($designContainer).draggable();
      $($designImg).resizable({aspectRatio: true});

    })
  })
</script>
