<div class="mainBody">
  <h1>The Print Lab</h1>
  <h3>Print Your T-Shirt</h3>
  <div class="main-container">

    <div id="wrapper">
      <div id="first">
        <div id="tshirtTemplate">
          <%= image_tag "white.png", class: "tshirt", colour: "white" %>
        </div>

        <!-- <div id="t-color"> -->
        <h3>Price: <%= number_to_currency(20.99) %></h3>
          <br>
          <div id="formColour">
            <ul class="color">
              <!-- tshirt colour selector -->
              <li><strong>Select colour:</strong></li>
              <% @products.each do |product|%>
                <% if product.size === "S" %>
                  <li class="colour_thumbnail", id="<%= product.id %>", colour="<%= product.colour %>" img_src="<%= asset_path(product.img_src) %>"><%= image_tag product.thumbnail, class: product.colour %></li>
                <% end %>
              <% end %>
            </ul>
            <br><br>
            Size:
            <select id="size"> <!-- size dropdown menu -->
              <% Product::SIZES.each do |u| %>
                <option value="<%= u %>"><%= u %></option>
              <% end %>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;
            Qty:
            <select id="qty"> <!-- qty dropdown menu -->
              <% Product::QTY.each do |el| %>
                <option value="<%= el %>"><%= el %></option>
              <% end %>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- Qty: <%= text_field_tag "qty" %> -->
            <br></br>
            <button class="ui green button">Add to Cart</button><br>
            <!-- <div class="cart-confirm"><i class="fa fa-check" aria-hidden="true"></i></div> -->
          </div>
      </div>

      <div id="second"></div>

      <div id="third">
        <h3>Select Design</h3>
        <div id="design_container">
          <!-- supplied designs container -->
          <% @designs.each do |design|%>
              <span class="design_thumbnail", img_src="<%= asset_path(design.img_src) %>", id="<%= design.id %>"><%= image_tag design.img_src %></span>
          <% end %>
          <!-- user-uploaded designs container -->
          <% if @current_user %>
            <% @user_designs.each do |design|%>
                <span class="design_thumbnail", img_src="<%= asset_path(design.img_src) %>", id="<%= design.id %>", uploaded="true"><%= image_tag design.img_src %></span>
            <% end %>
          <% end %>
        </div>
        <br>
        <!-- cloudinary upload field -->
        <div id="upload_container">
          <% if @current_user %>
            <input class="cloudinary-fileupload" type="file" name="file"/>
          <% else %>
            <h4>You must be logged in to upload your own design</h4>
          <% end %>
        </div>
        <div class="progress_msg"></div>
      </div>
    </div>
  </div>
</div>
