<div class="mainBody">
  <h1>Print your shirt</h1>
  <div class="main-container">

  <div id="wrapper">
    <div id="first">
      <div id="tshirtTemplate">
        <%= image_tag "white.png", class: "tshirt", colour: "white" %>
      </div>

      <div id="t-color">
        <h3>Price: <%= number_to_currency(20.99) %></h3>
        <br>
        <ul class="color">
          <li><strong>Select colour:</strong></li>
          <% @products.each do |product|%>
            <% if product.size === "S" %>
              <li class="colour_thumbnail", id="<%= product.id %>", colour="<%= product.colour %>" img_src="<%= asset_path(product.img_src) %>"><%= image_tag product.thumbnail, class: product.colour %></li>
            <% end %>
          <% end %>
        </ul>
     </div>
     <br><br>
     Size:
     <select id="size"> <!-- create Size dropdown menu -->
       <% Product::SIZES.each do |u| %>
         <option value="<%= u %>"><%= u %></option>
       <% end %>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;
        Qty: <%= text_field_tag "qty" %>
    <br>
    <button class="ui green button">Add to Cart</button><br>
  </div>

  <div id="second"></div>

  <div id="third">
    <h3>Select Design</h3>
    <div id="design_container">
      <% @designs.each do |design|%>
          <span class="design_thumbnail", img_src="<%= asset_path(design.img_src) %>", id="<%= design.id %>"><%= image_tag design.img_src %></span>
      <% end %>
    </div>
    <br>
    <div id="upload_container">
      <% if @current_user %>
        <input class="cloudinary-fileupload" type="file" name="file"/>
      <% else %>
        <h4>You must be logged in to upload your own design</h4>
      <% end %>
    </div>
  </div>
</div>

    <script>
      var createLineItem = function(colour, designId, size, qty, top, left, widthRatio, heightRatio){
        $.ajax({
          url: "/line_items",
          method: "POST",
          dataType: "JSON",
          data: {
            colour: colour,
            design_id: designId,
            size: size,
            qty: qty,
            top: top,
            left: left,
            width_ratio: widthRatio,
            height_ratio: heightRatio
          },
          success: function(){
            alert("item added to basket")
          }
        });
      }

      $(document).ready(function(){
        $(document).on("click", ".colour_thumbnail", function(){ // select shirt colour
          var imgSrc = $(this).attr("img_src");
          var colour = $(this).attr("colour");
          // var productId = $(this).attr("id");
          $("#tshirtTemplate").html("");
          $("#tshirtTemplate").append($("<img>").attr("src", imgSrc).attr("class", "tshirt").attr("colour", colour));
        });

        $(document).on("click", ".design_thumbnail", function(){ // select design to apply on t-shirt
          $(".design_container").html("");
          var designUrl = $(this).attr("img_src");
          var designId = $(this).attr("id");
          console.log(designId)
          var $designImg = $("<img>").attr("src", designUrl).attr("class", "design_img").attr("id", designId);
          var $designContainer = $("<div>").attr("class", "design_container").append($designImg);
          $designImg.css ({
            width: "180px"
          });
          $designContainer.css({
            top: "160px",
            left: "170px",
            position: "absolute"
          });
          $(".main-container").append($designContainer);
          $designContainer.draggable();
          $designImg.resizable({aspectRatio: true});
        });

        $("button").on("click", function(){
          var top = $(".design_container").position().top - $(".tshirt").position().top;
          var left = $(".design_container").position().left - $(".tshirt").position().left;
          var tshirtWidth = $(".tshirt").css("width");
          var tshirtHeight = $(".tshirt").css("height");
          var width = $(".design_img").css("width");
          var height = $(".design_img").css("height");
          var widthRatio = ((parseInt(width.substr(0, width.length - 2)) / parseInt(tshirtWidth.substr(0, tshirtWidth.length - 2))) * 100).toFixed(2); // convert widths to integers and calculate ratios
          var heightRatio = ((parseInt(height.substr(0, height.length - 2)) / parseInt(tshirtHeight.substr(0, tshirtHeight.length - 2))) * 100 ).toFixed(2);// convert heights to integers and calculate ratios
          console.log('recording image size and placement ratios')
          console.log(heightRatio)
          var colour = $(".tshirt").attr("colour");
          var designId = $(".design_img").attr("id");
          var qty = $("#qty").val();
          var size = $("#size").val();

          createLineItem(colour, designId, size, qty, top, left, widthRatio, heightRatio);
        });

        if($.fn.cloudinary_fileupload !== undefined) {
          $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();

          $('input.cloudinary-fileupload[type=file]').unsigned_cloudinary_upload("mvmwmezx",
            { cloud_name: 'djvkbcwjg', tags: 'browser_uploads' },
            { multiple: true }
          ).bind('cloudinarydone', function(e, data) {
            $.ajax({
              url: "/designs",
              method: "POST",
              dataType: "JSON",
              data: {
                design:{
                  img_src: data.result.secure_url,
                  width: data.result.width,
                  length: data.result.height,
                  name: data.result.original_filename
                }
              },
              success: function(data){
                // var $tr = $("<tr>");
                var $span = $("<span>").addClass("design_thumbnail").attr("src", data.img_src).attr("id", data.id);
                $img = $("<img>").attr("src", data.img_src);

                $span.append($img);
                // $tr.append($td);

                $("#design_container").append($span);
              },
              error: function(){
                alert("Something has gone wrong while saving your image on our server")
              }
            })
          })
        }
      })
    </script>
  </div>
</div>
