<h1>Print your shirt</h1>

<div id="tshirtTemplate">
  <%= image_tag "/assets/tshirt_templ.png", class: "tshirt" %>
</div>

<% @products.each do |product|%>
  <% if product.size === "S" %>
    <table>
      <tr>
        <td class="colour_thumbnail", id="<%= product.colour %>"><%= image_tag product.thumbnail, class: product.colour %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<% @designs.each do |design|%>

<table>
  <tr>
    <td class="design_thumbnail"><%= image_tag design.img_src %></td>
    <!-- <td><%= design.name %></td> -->
  </tr>
</table>
<% end %>

<script>
  $(document).ready(function(e){
    $(".colour_thumbnail").on("click", function(e){
      var colour = $(e.currentTarget).attr("id");
    console.log(colour);
    });

  })


</script>
