<!DOCTYPE html>
<html>
  <head>
    <title>The Print Lab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <!-- passing variable via app controller to the navigation partial -->
    <%= render partial: "includes/navigation", locals: { number_in_cart: total_number_of_items_in_cart} %>
    <div class="ui text container" id="flash-notices">
      <%= render "includes/flash_notices" %>
    </div>
    <%= yield %>
    <%= render "includes/footer" %>
  </body>
</html>
